# Copia este archivo como .env.local y completa los valores

DATABASE_URL="postgresql://USER:PASSWORD@ep-xxx-pooler.REGION.aws.neon.tech/DBNAME?pgbouncer=true&sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@ep-xxx.REGION.aws.neon.tech/DBNAME?sslmode=require"

NUBEFACT_URL=https://api.nubefact.com/api/v1/TU_RUC/invoices
NUBEFACT_TOKEN=tu_token_aqui

CRON_SECRET=cambia_esto_por_un_string_secreto
